{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="content">
    {% if user.is_authenticated %}
    <div class="post">
        <input type="text" name="post-content" id="post-content-input" placeholder="Write what's on your mind ....">
        <button id="post-btn">Post</button>
    </div>

    <h3 id="posts_topic">Following Posts</h3>

    {% else %}
    <h3 id="posts_topic">All Posts</h3>
    {% endif %}

    <div class="content-posts">
        <div id="post-overlay"> 
            <div id="text">
                <h1 class="post_username">Post Username</h1>
                <p class="post_content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod in libero id tempore? Assumenda </p>

                {% if user.is_authenticated %}
                <button >
                        👍
                </button>

                <button id="comment-btn">Comment</button>

                <div class="comment-div" style="display: none;">
                    <input type="text">
                    <button id="comment-submitBtn">Sub</button>
                </div>
                {% endif %}
            </div>
        </div>
        {% for post in posts %}
            <div class="post-container" data-post_id="{{ post.id }}">
            <h1> {{post.user}} </h1>
            <p>{{post.content}}</p>
            {% if user.is_authenticated %}
                <button data-like="{% if user in post.likes.all %}true{% else %}fale{% endif %}" data-post_id="{{ post.id }}" id="like-btn">
                    {% if user not in post.likes.all %}
                        👍
                    {% else %}
                        👎
                    {% endif %}
                </button>

                <button id="comment-btn">Comment</button>

                <div class="comment-div" style="display: none;">
                    <input type="text">
                    <button data-shit="ello" id="comment-submitBtn" data-post-id="{{ post.id }}">Sub</button>
                </div>
            {% endif %}

            </div>
        {% empty %}
        <h1>No Posts.</h1>
        <p>Go to search for some random posts</p>
        {% endfor %}

    </div>
</div>
{% endblock %}


{% block script %}
<script type="module" src="{% static 'network/main.js' %}"></script>
{% endblock %}