{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="content">
        {% if user.is_authenticated %}
            <div class="post">
                <input type="text" name="post-content" id="post-content-input" placeholder="Write what's on your mind ....">
                <button id="post-btn">Post</button>
            </div>
        {% endif %}   
        <div class="content-posts">
            TODO ..
        </div>
    </div>
{% endblock %}


{% block script %}
<script src="{% static 'network/index.js' %}"></script>
<script>
    
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector("#post-btn").addEventListener('click',() => {
            let text = document.querySelector("#post-content-input").value;
            let csrftoken = getCookie('csrftoken');
            fetch('post', {
                method:"POST",
                headers: { "X-CSRFToken": csrftoken },
                body: JSON.stringify({
                    content: text
                })
            })
            .then(response => response.json())
            .then(response => {
                document.querySelector("#post-content-input").value = "";
                console.log(response);
            })
        })
    })
</script>
{% endblock %}