{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="content">
    {% if user.is_authenticated %}
    <div class="post">
        <input type="text" name="post-content" id="post-content-input" placeholder="Write what's on your mind ....">
        <button id="post-btn">Post</button>
    </div>
    {% endif %}
    <div class="content-posts">

        <h4>Following Posts</h4>
        {% for post in posts %}
        <div class="post-container">
            <div class="post-container">
                <h1> {{post.user}} </h1>
                <p>{{post.content}}</p>
                {% if user.is_authenticated %}
                {% if user not in post.likes.all %}
                <button data-like="false" data-post_id="{{post.id}}" id="like-btn">❤️</button>
                {% else %}
                <button data-like="true" data-post_id="{{post.id}}" id="like-btn">🖤</button>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% empty %}
        <h1>No Posts.</h1>
        <p>Go to search for some random posts</p>
        {% endfor %}

    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'network/index.js' %}"></script>
<script>

    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector("#post-btn").addEventListener('click', () => {
            let text = document.querySelector("#post-content-input").value;
            let csrftoken = getCookie('csrftoken');
            fetch('post', {
                method: "POST",
                headers: { "X-CSRFToken": csrftoken },
                body: JSON.stringify({
                    content: text
                })
            })
                .then(response => response.json())
                .then(response => {
                    document.querySelector("#post-content-input").value = "";
                    console.log(response);
                })
        })

        document.querySelectorAll('#like-btn').forEach(btn => {
            btn.addEventListener('click', (event) => {
                console.log("Clicked");
                let csrftoken = getCookie('csrftoken');
                let user = "{{ user.id }}";
                let liked = event.target.dataset.like;  
                let post = event.target.dataset.post_id;   
                fetch('/addlike', {
                    method: "PUT",
                    headers: { "X-CSRFToken": csrftoken },
                    body: JSON.stringify({
                        user_id: user,
                        like: liked,
                        post: post,
                    })
                });
            });
        });

    })


</script>
{% endblock %}