{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
</head>

<body>
    <div class="destop">
        <nav class="navbar">
            <div class="nav-title"><a href="{% url 'index' %}">Network</a></div>
            <div class="nav-user">
                {% if user.is_authenticated %}
                    <span>{{ user.username }}</span>
                <div class="profile-pic"></div>
                <!-- Will add url of img later -->
                {% else %}
                <span>anonymous</span>
                <div class="profile-pic"></div>
                <!-- will have a temp profile pic -->
                {% endif %}
            </div>
        </nav>

        <div class="sidebar-posts">
            <div class="sidebar">
                <div class="side-search"><a href="{% url 'search' %}">Search</a></div>
                {% if user.is_authenticated %}
                    <div class="side-profile"><a href="{% url 'profile'%}">Profile</a></div>
                    <div class="side-log"><a href="{% url 'logout'%}">Logout</a></div>
                {% else %}
                    <div class="side-reg"><a href="{% url 'register'%}">Register</a></div>
                    <div class="side-log"><a href="{% url 'login'%}">Login</a></div>
                {% endif %}
            </div>
         
            <div class="body">
                {% block body %}
                {% endblock %}
            </div>
         </div>
         

    </div>
    {% block script %}
    {% endblock %}
</body>

</html>