
* {
    padding: 0%;
    margin: 0%;
}

.destop {
    background-color: #161616;
    color: #fff;
}

nav {
    height: 8vh;
    background-color: #161616;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #7c7777 2px solid;

}

.nav-title a{
    font-size: 1.5em;
    margin-left: 10px;
    color: #fff;
}

.nav-user {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.nav-user span {
    padding: 20px;
}

.nav-user .profile-pic {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .nav-title {
        margin-left: 5px;
        font-size: 1.2em;
    }

    .nav-user {
        margin-right: 5px;
    }
}


.sidebar-posts {
    display: flex;
    width: 100%;
    height: 92vh;
}

.sidebar {
    width: 20%;
    background-color: #161616;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-right:  #7c7777 2px solid;
}

.body {
    flex: 1;
}

.sidebar div {
    margin-bottom: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .sidebar-posts {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}


.post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
}

.post input {
    width: 80%; 
    padding: 10px;
    margin-bottom: 0px; 
}

.post button {
    padding: 10px 20px;
    margin-left: 20px;
}

.body {
    height: 92vh;
    overflow-y: auto;

}

#posts_topic {
    padding: 10px 5px;
    
}
.post-container {
    padding: 20px;
    color: #fff;
    border-top:  #7c7777 1px solid;
    border-bottom:  #7c7777 1px solid;
}

.content {
    padding: 0px;
    margin: 0px;
}